:root {
  /* Colors */
  --red: #720418;
  --orange: #ff8b00;
  --darkBlue: #241400;
  --bookname2: #030102;
  --textcolor: #333333;
  --ininput: #adadad;
  --pinks: #fffaf5;
  --white: #ffff;
  --black: #0000;
  --fill: #391f00;
  /* Fonts */
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
}
