.about_section {
    width: 80%;
    margin: 10% 16%;
    display: flex;
}

.about_store h2{
    font-weight: 900;
    font-size: 36px;
    line-height: 70px;
    font-family: var(--montserrat);
    color: var(--darkBlue);
}

.about_store p {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--montserrat);
    color: var(--darkBlue);
    line-height: 35.31px;
    margin-top: 10px;
    padding-right: 50px;
}

.about_img {
    margin-top: 70px;
    flex-basis: 40%;
}

@media screen and (max-width:1250px) {
    .about_section {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .about_store h2 {
        text-align: center;
    }

    .about_img {
        display: flex;
        justify-content: center;
    }

    .about_store {
        padding: 59px 0 130px 0;
        text-align: center;
    }
}

@media screen and (max-width:678px) {
    .about_img img {
        width: 90%;
    }
}