/* ! admin */
.first_login {
    background-color: var(--red);
    width: 100%;
    height: 100vh;
    position: relative;
}

.d-none {
    display: none;
}

.first_login main {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 70px;
}

.first_login main .admin_form_container {

    display: flex;
    text-align: center;
    flex-direction: column;
    background-color: var(--white);
    width: 662px;
    height: 544px;

}

.first_login main h2 {
    padding: 69px 0px 17px 0px;
    color: var(--black);
    text-align: center;
    font-family: var(--montserrat);
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first_login main form input {
    width: 553px;
    height: 74px;
    padding-left: 51px;
    margin-bottom: 34px;
}


.first_login main form button {
    margin-top: 50px;
    width: 553px;
    height: 74px;
    text-align: center;
    color: var(--white);
    font-family: var(--crimson);
    background-color: var(--orange);
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 5px;
    border: 1px solid #CECECE;

}

/* !admin end */

.overflow-admin {
    overflow: hidden !important;
}

/* ! left link*/


.left_link {
    background-color: var(--red);
    min-width: 355px;
    padding-left: 35px;
}

#second_admin_logo img {
    min-width: 283px;
    min-height: 106px;
    padding-top: 93px;
}

.nav_list_link li {
    display: flex;
    align-items: center;
    gap: 11px;
    margin-bottom: 20px;
}

.nav_list_link li a {
    color: #FFF;
    font-family: var(--montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.nav_list_link li img {
    width: 55px;
    height: 41px;
}

/* ! left link end*/

/* ! right_side */
.right_side {
    margin-left: 33px;
}

.profile-admin {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: end;
    margin-right: 58px;
}



.header-admin-left {
    display: flex;
    align-items: center;
    margin-top: 60px;
    justify-content: end;
}

/*! hamb-admin */

.hamb_menu_admin {
    display: none;
    margin-right: 13px;
    z-index: 999;
}

.hamb_list_admin {
    padding: 43px 11px 43px 0px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    left: -100%;
    padding-left: 20px;

}

.hamb_list_admin.show {
    top: 0;
    width: 100%;
    height: 100%;
    transition: .6s;
    left: 0;
    background: var(--red);

}

.hamb_list_admin .times_icon {
    position: absolute;
    width: fit-content;
    margin-right: 4px;
    right: 50px;
}

.hamb_list_admin .menu_list {
    margin-top: 73px;
}

.menu_nav_admin {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.menu_nav_admin li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu_nav_admin li a {
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
    font-family: var(--montserrat);
}

/*! hamb-admin */

.admin-container {
    margin-top: 48px;
}

.admin-container h1 {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.search-container {
    margin-top: 26px;
}

.search-book p {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;

}

.search-bar {
    display: flex;
    gap: 7px;
}

.search-bar input {
    width: 395px;
    height: 41px;
    flex-shrink: 0;
    border-radius: 34px;
    border: 2px solid rgba(57, 31, 0, 0.48);
    background: var(--white);
    outline: none;
    color: var(--ininput);
    font-family: var(--preahvihear);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 33px;
}

.search-bar button {
    border-radius: 34px;
    background: var(--orange);
    width: 63px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}

.search-history.active {
    display: block;
}

.search-history {
    display: none;
    margin-top: 6px;
    border-radius: 35px;
    background: #F1F0F0;
    width: 388px;
    max-height: 185px;
    flex-shrink: 0;
    padding: 36px;
    overflow: hidden;
    overflow-y: scroll;
}

.admin_result_item {
    color: var(--placeHolder);
    margin-bottom: 6px;
    color: var(--ininput);
    font-family: var(--preahvihear);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.book-form {
    margin-top: 81px;
}

.book-form h3 {
    color: var(--textcolor);
    font-family: var(--montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;

}

.book-form-container {
    border-radius: 20px;
    background: #FFF;
    display: flex;
    width: 1107px;
    padding: 16px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.book-form-container div p {
    margin-bottom: 10px;
}

.book-form-container div input {
    display: flex;
    height: 40px;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 1023px;
    border-radius: 10px;
    border: 1px solid #E2E6EE;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
    outline: none;
}

.book-form-container .add_book button {
    text-align: center;
    height: 40px;
    gap: 10px;
    width: 1023px;
    border-radius: 10px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
}

.about-store {
    margin-top: 161px;

}

.about-store h4 {
    color: var(--textcolor);
    font-family: var(--montserrat);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 17px;


}

.about-store-container {
    border-radius: 20px;
    background: #FFF;
    display: flex;
    width: 1107px;
    padding: 16px 30px 30px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex-shrink: 0;
}

.about-store-container div input {
    display: flex;
    height: 40px;
    padding: 8px 12px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    width: 1023px;
    border-radius: 10px;
    border: 1px solid #E2E6EE;
    background: #FFF;
    box-shadow: 0px 4px 18px 0px rgba(158, 168, 189, 0.31);
    outline: none;
}

.about-store-container div button {
    text-align: center;
    height: 40px;
    gap: 10px;
    width: 1023px;
    border-radius: 10px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    margin-top: 20px;
}

.about-store-container div p {
    margin-bottom: 10px;
}

/* !join us */

.join-us {
    margin-top: 136px;
    max-width: 512px;
    width: 100%;
}

.join-us h5 {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.join-us-table {
    margin-top: 10px;
    width: 100%;
}

table thead tbody {
    width: 100%;
}

table {
    width: 100%;
}

tbody {
    width: 100%;
}

.table-id {
    width: 54px;
    height: 48px;
}

.join-us-table table thead tr th {
    background: var(--red);
    color: var(--white);
    height: 48px;
    vertical-align: middle;

}

th {
    color: var(--white);
    text-align: center;
    font-family: var(--nstino);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}

td {
    text-align: center;
    color: var(--darkBlue);
    font-family: var(--nstino);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%;
    letter-spacing: 0.14px;
}

.user-table td {
    padding: 16px 0px;

}

tr {
    background: #FFF;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset, 0px 1px 0px 0px #E6E7E9 inset;
}

tr:nth-child(even) {
    background-color: #F9FAFC;
    box-shadow: 0px -1px 0px 0px #E6E7E9 inset, 0px 1px 0px 0px #E6E7E9 inset;
}


/* ! books-content */

.table_scrool {

    overflow-x: scroll !important;

}

.books-content {
    margin-top: 136px;
    width: 100%;


}

.books-content h6 {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.books-table table thead tr th {
    background: var(--red);
    color: var(--white);
    height: 48px;
    vertical-align: middle;

}

.book_admin_img {
    width: 27px;
    height: 36px;
}

.book-admin-img {
    display: flex;
    align-items: center;
    text-align: center;
}

.books-table {
   margin-right: 30px;
}
.table-content {
    margin-right: 30px;
}


.books_tbody tr {
    max-height: 50px !important;

}

/* ! books-content */

/* !contact */

.Contact-Us {
    margin: 150px 0px 150px 0px;

}

.Contact-Us p {
    color: var(--Gray-1, #333);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 196.187%;
}

.table-content td {
    padding: 16px 0px;

}

.table-content table thead tr th {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    background: var(--red);
    color: var(--white);
    height: 48px;
    vertical-align: middle;
}


/* ! right_side end */



@media screen and (max-width:1472px) {
    .book-form-container {

        display: flex;
        width: 907px;
        padding: 16px 30px 30px 30px;
        gap: 24px;

    }

    .book-form-container div p {
        margin-bottom: 10px;
    }

    .book-form-container div input {

        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 823px;
    }

    .book-form-container .add_book button {
        width: 823px !important;
    }

    .about-store-container {
        display: flex;
        width: 907px;
        padding: 16px 30px 30px 30px;
        gap: 24px;
    }

    .about-store-container div input {
        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 823px;
    }

    .about-store-container div button {
        width: 823px !important;
    }
}

@media screen and (max-width:1320px) {

    .book-form-container {

        display: flex;
        width: 580px;
        padding: 16px 30px 30px 30px;
        gap: 24px;

    }

    .book-form-container div p {
        margin-bottom: 10px;
    }

    .book-form-container div input {

        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 500px;
    }

    .book-form-container .add_book button {
        width: 500px !important;
    }

    .about-store-container {
        display: flex;
        width: 580px;
        padding: 16px 30px 30px 30px;
        gap: 24px;
    }

    .about-store-container div input {
        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 500px;
    }

    .about-store-container div button {
        width: 500px !important;
    }

}

@media screen and (max-width:640px) {

    .book-form-container {

        display: flex;
        width: 380px;
        padding: 16px 30px 30px 30px;
        gap: 24px;

    }

    .book-form-container div p {
        margin-bottom: 10px;
    }

    .book-form-container div input {

        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 300px;
    }

    .book-form-container .add_book button {
        width: 300px !important;
    }

    .about-store-container {
        display: flex;
        width: 380px;
        padding: 16px 30px 30px 30px;
        gap: 24px;
    }

    .about-store-container div input {
        padding: 8px 12px;
        align-items: center;
        gap: 10px;
        width: 300px;
    }

    .about-store-container div button {
        width: 300px !important;
    }
    .search-bar input{
        width: 300px;
    }

}

@media screen and (max-width:991px) {
    .left_link {
        display: none;
    }

    .table_book {
        max-width: 100%;
        width: 100%;
    }

    td {
        vertical-align: middle;
    }

    .books-table {
        width: 90vw;
        overflow-x: scroll;
    }

    .table-content {
        width: 90vw;
        overflow-x: scroll;
    }

    #mobil_td {
        min-width: 199px;
    }

    .book-desc {
        max-width: 199px;
        white-space: nowrap;
        overflow-x: scroll;

        &&::-webkit-scrollbar {
            display: none;
        }
    }

    .id_td {
        min-width: 54px;
    }
}



/*! responsive */

@media screen and (max-width:991px) {
    .ul_list {
        display: none;
    }

    .hamb_menu_admin {
        display: flex;
        align-items: center;
    }
}