.content {
    display: flex;
    width: 80%;
    margin: 10% 16%;
    justify-content: space-between;
    margin-bottom: 100px;
}

.content-left {
    width: 70%;
}

.btn-first {
    width: 100px;
    height: 29px;
    margin-bottom: 100px;
    background-color: var(--orange);
    color: var(--white);
    border: none;
    border-radius: 5px;
    font-weight: 900;
    line-height: 24px;
    margin-top: 12px;
    text-align: left;
    padding-left: 15px;
    font-family: var(--montserrat);
}

.first button {
    width: 69px;
    height: 23px;
    background: #2F80ED;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 8px 0px #E16A0030;
    color: var(--white);
    font-family: var(--montserrat);
    font-size: 12px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 20px;
}

.first h2 {
    font-family: var(--montserrat);
    font-size: 35px;
    font-weight: 700;
    line-height: 69px;
    letter-spacing: 0em;
    text-align: left;
}

.first span {
    font-family: var(--montserrat);
    font-size: 16px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.second p:first-child {
    font-family: var(--montserrat);
    font-size: 22px;
    font-weight: 400;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.second p:last-child {
    width: 686px;
    font-family: var(--montserrat);
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
}

.content-right {
    position: relative;
    width: 30%;
}

.content-right img:first-child {
    position: absolute;
    top: -6;
    right: 38;
}

.commit_parent {
    width: 80%;
    margin: 10% 16%;
}

.commit_parent input {
    width: 626px;
    height: 60px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 10px 1px #00000026;
}

.commit_parent div:first-child {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}

.commit_parent input::placeholder {
    font-family: var(--roboto);
    font-size: 20px;
    font-weight: 300;
    line-height: 23px;
    letter-spacing: 0.05em;
    text-align: left;
    padding-left: 30px;
    color: #232323;
}

.icon {
    display: flex;
    width: 60.11px;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: none;
    background-color: var(--orange);
}

.commit {
    width: 686px;
    height: 167px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #0000001A;
    margin-bottom: 50px;
    padding-left: 18px;
    padding-top: 30px;
    padding-bottom: 30px;
    justify-content: center;
    box-sizing: border-box;
}

.commit div {
    display: flex;
    gap: 30px;
}

.commit p:first-child {
    display: inline;
    margin-right: 30px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
    text-align: left;
}

.commit span {
    display: inline;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.commit p:last-child {
    display: block;
    margin-top: 20px;
    font-family: Rubik;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    width: 650.25px;
}