.search_section {
    width: 80%;
    margin: 10% 16%;
}

.search_section h2 {
    font-size: 36px;
    font-family: var(--montserrat);
    color: var(--darkBlue);
    font-weight: 700;
    line-height: 70.63px;
}

.search_main {
    display: flex;
}

.search_form {
    width: 40%;
}

.search_form form {
    display: flex;
    flex-direction: column;
    width: 90%;    
}

.search_form input {
    padding-left: 27px;
    height: 69px;
    border: 1px solid rgba(206, 206, 206, 1);
    border-radius: 5px;
    margin: 44px 0;
    font-size: 23px;
}

.search_form input::placeholder {
    color: var(--darkBlue);
    font-size: 23px;
    font-family: Crimson Text;
}

.search_form button {
    height: 65px;
    border: none;
    border-radius: 5px;
    background-color: var(--orange);
    color: var(--white);
    font-size: 30px;
    font-family: Crimson Text;
}

.search_contain {
    padding: 0 40px;
    width: 60%;
    margin-top: 44px;
    position: relative;
}

.contain {
    background-color: #fff;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    padding: 47px 32px;
}

.slider_contain {
    display: none;
}

.contain_about {
    padding-left: 37px;
}

.contain_about h3 {
    font-size: 24px;
    font-weight: 700;
    font-family: var(--montserrat);
}

.contain_about_name {
    padding: 7px 0;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--montserrat);
    line-height: 35.31px;
}

.contain_about_info {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--montserrat);
    line-height: 27.47px;
}

.slider_arrow_left{
    position: absolute;
    top: 50%;
    left: 0;
}

.slider_arrow_right{
    position: absolute;
    top: 50%;
    right: 0;
}

@media screen and (max-width:1250px){
    .search_section {
        width: 80%;
         margin: 0 auto;
         margin-top: 134px;
    }

    .search_main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }  

    .search_section h2 {
        text-align: center;
    }
    
    .search_form {
        width: 70%;
    }

    .search_form form {
        margin: 0 auto;        
    }

    .search_contain {
        width: auto;
    }
}

@media screen and (max-width:768px){
    .contain {
        display: none;
    }

    .search_form {
        width: 100%;
    }

    .arrows {
        display: none;
    }

    .slider_contain {
        display: block;
        margin-top: 79px;
    }

    .slider_contain .contain_img img {
        width: 100%;
    }

    .slider_contain .contain_about {
        margin-top: 40px;
        text-align: center;
    }

    .slider_contain .contain_about h3 {
        font-size: 25px;
        font-weight: 900;
    }

    .slider_contain .contain_about .contain_about_name {
        font-size: 12px;
        font-weight: 700;
    }

    .slider_contain .contain_about .contain_about_info {
        font-size: 12px;
        font-weight: 400;
    }
}