footer {
    background-color: var(--fill);
    padding: 48px 0px;
}

.footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 73.61%;
    margin: 0 auto;
}

.footer_list {
    display: flex;
    padding-bottom: 48px;
}

.footer_info {
    font-family: var(--montserrat);
    color: var(--white);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
}

.footer_list ul {
    margin: 0 45px;
}

.footer_list ul li {
    color: var(--white);
    font-family: var(--montserrat);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.footer_list ul li a {
    font-size: 13px;
    line-height: 26px;
    font-family: var(--montserrat);
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.footer_call p {
    color: var(--white);
    font-family: var(--montserrat);
    font-weight: 900;
    font-size: 12px;
    height: 18px;
}

.footer_call button {
    line-height: 27px;
    width: 136px;
    height: 30px;
    border: 1px solid var(--orange);
    background-color: transparent;
    color: var(--orange);
    font-weight: 500;
    font-size: 14px;
}