.header {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 15%;
}

.header_logo h2 {
    color: var(--red);
    font-family: var(--montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header_logo h2 span {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.ul_list {
    display: flex;
    gap: 21px;
}

.ul_list li.active a {
    color: #E16A00 !important;
    font-weight: 700;
    text-decoration-line: underline;
}

.ul_list li a {
    font-size: 12px;
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.ul_list li a.active {
    color: var(--ora);
}

.join_us {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 6.39%;
    font-family: var(--roboto);
    border: none;
    background: none;
    color: var(--darkBlue);
    font-style: normal;
}


/* !mobile link */

.hamb_menu {
    display: none;
    margin-right: 13px;
    z-index: 999;
}

.hamb_list {
    padding: 43px 11px 43px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    left: -100%;
}

.hamb_list.show {
    top: 0;
    width: 100%;
    height: 100%;
    transition: .6s;
    left: 0;
    background: rgba(36, 20, 0, 0.90);
}

.times_icon {
    width: fit-content;
    margin-right: 4px;
}

.menu_list {
    margin-top: 73px;
}

.menu_nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
}

.menu_nav li {
    text-align: right;
}

.menu_nav li a {
    text-decoration: none;
    color: var(--white);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
    font-family: var(--montserrat);
}


/* !modal */

#modal_body {
    display: none;
}

.modal_body.show {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.50);
    z-index: 100;
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.modal_main {
    width: 675px;
    background: #fff;
    padding: 70px 55.6px 35px 55.6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.modal_head_title {
    height: 82px;
    color: #000;
    font-size: 44px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.modal_form {
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    gap: 86px;
}

.modal_form_input_group {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.modal_input {
    font-family: Crimson Text;
    padding: 18.39px 0px 18.39px 52px;
    border: 1px solid #CECECE;
    background: #FFF;
    outline: none;
    /* input text style */
    color: #797667;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_input::placeholder {
    color: #797667;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.modal_join_btn {
    font-family: Crimson Text;
    border-radius: 5px;
    border: 1px solid #CECECE;
    background: #E16A00;
    height: 76px;
    /* btn text styles */
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;
}

/* ! responsive-modal */
@media screen and (max-width:991px) {
    .modal_main {
        width: 475px;

    }
}

@media screen and (max-width:500px) {
    .modal_main {
        width: 375px;

    }
}

/*! responsive */

@media screen and (max-width:768px) {
    .ul_list {
        display: none;
    }

    .hamb_menu {
        display: flex;
        align-items: center;
    }
}