.header {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--pink);
}

.header_logo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 15%;
}

.header_logo h2 {
    color: var(--red);
    font-family: var(--montserrat);
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header_logo h2 span {
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.ul_list {
    display: flex;
    gap: 21px;
}

.ul_list li a {
    font-size: 12px;
    color: var(--darkBlue);
    font-family: var(--montserrat);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 196.187%;
}

.join_us {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-right: 6.39%;
    font-family: var(--roboto);
}

.join_us span {
    color: var(--darkBlue);
    font-family: var(--roboto);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}